In [1]:
import os
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#establish directories and import data
home = Path.cwd()
filepath = Path.joinpath(home.parent, 'data', 'master.csv')
df1 = pd.read_csv(filepath)
df1.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [3]:
df1.shape

(27820, 12)

In [4]:
df1.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [31]:
df1.rename(columns={'suicides/100k pop':'per100'}, inplace=True)
df1['country'].replace('Russian Federation','Russia', inplace=True)
df1.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population', 'per100',
       'country-year', 'HDI for year', ' gdp_for_year ($) ',
       'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [32]:
#getting country codes
filepath2 = Path.joinpath(home.parent, 'data', 'd3-world-map.csv')
df2 = pd.read_csv(filepath2)
df2.drop(columns='z', inplace=True)
df2.rename(columns={'text':'country'}, inplace=True)
df2.head()

  locations         country
0       AFG     Afghanistan
1       ALB         Albania
2       DZA         Algeria
3       ASM  American Samoa
4       AND         Andorra

In [33]:
df = pd.merge(df1, df2, on='country')
df.head(10)

,country,year,sex,age,suicides_no,population,per100,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,locations
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X,ALB
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent,ALB
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X,ALB
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation,ALB
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers,ALB
5,Albania,1987,female,75+ years,1,35600,2.81,Albania1987,NaN,"2,156,624,900",796,G.I. Generation,ALB
6,Albania,1987,female,35-54 years,6,278800,2.15,Albania1987,NaN,"2,156,624,900",796,Silent,ALB
7,Albania,1987,female,25-34 years,4,257200,1.56,Albania1987,NaN,"2,156,624,900",796,Boomers,ALB
8,Albania,1987,male,55-74 years,1,137500,0.73,Albania1987,NaN,"2,156,624,900",796,G.I. Generation,ALB
9,Albania,1987,female,5-14 years,0,311000,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X,ALB

In [34]:
df.shape

(26872, 13)

In [35]:
27820-26548

1272

In [36]:
df['country'].value_counts()

Mauritius                 382
Austria                   382
Iceland                   382
Netherlands               382
Japan                     372
Puerto Rico               372
Luxembourg                372
Singapore                 372
Brazil                    372
United Kingdom            372
Mexico                    372
United States             372
Chile                     372
Spain                     372
Italy                     372
Ecuador                   372
Belgium                   372
Israel                    372
Argentina                 372
Greece                    372
Colombia                  372
Malta                     372
Bulgaria                  360
Guatemala                 360
Ireland                   360
Australia                 360
Costa Rica                360
Norway                    360
France                    360
Sweden                    358
                         ...
Estonia                   252
Slovenia                  252
Switzerland               252
Latvia                    252
Belarus                   252
South Africa              240
Seychelles                216
Serbia                    216
Jamaica                   204
Azerbaijan                192
Philippines               180
Cyprus                    178
Qatar                     178
Aruba                     168
Fiji                      132
Kiribati                  132
Sri Lanka                 132
Montenegro                120
Maldives                  120
Turkey                     84
United Arab Emirates       72
Nicaragua                  72
Oman                       36
San Marino                 36
Saint Kitts and Nevis      36
Bosnia and Herzegovina     24
Cabo Verde                 12
Dominica                   12
Macau                      12
Mongolia                   10
Name: country, Length: 98, dtype: int64

In [37]:
df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population', 'per100',
       'country-year', 'HDI for year', ' gdp_for_year ($) ',
       'gdp_per_capita ($)', 'generation', 'locations'],
      dtype='object')

In [38]:
df1['country'].value_counts()

Mauritius                 382
Austria                   382
Netherlands               382
Iceland                   382
Singapore                 372
Brazil                    372
Puerto Rico               372
Luxembourg                372
Belgium                   372
Mexico                    372
United States             372
Chile                     372
Spain                     372
Italy                     372
Japan                     372
Republic of Korea         372
Ecuador                   372
United Kingdom            372
Malta                     372
Argentina                 372
Colombia                  372
Greece                    372
Israel                    372
France                    360
Norway                    360
Ireland                   360
Guatemala                 360
Costa Rica                360
Australia                 360
Bulgaria                  360
                         ...
Latvia                    252
Belarus                   252
Estonia                   252
Bahrain                   252
Slovenia                  252
South Africa              240
Seychelles                216
Serbia                    216
Jamaica                   204
Azerbaijan                192
Philippines               180
Cyprus                    178
Qatar                     178
Aruba                     168
Kiribati                  132
Fiji                      132
Sri Lanka                 132
Maldives                  120
Montenegro                120
Turkey                     84
Nicaragua                  72
United Arab Emirates       72
Oman                       36
Saint Kitts and Nevis      36
San Marino                 36
Bosnia and Herzegovina     24
Macau                      12
Cabo Verde                 12
Dominica                   12
Mongolia                   10
Name: country, Length: 101, dtype: int64

In [39]:
df3 = df[['country','year','per100','locations']]
df3.shape

(26872, 4)

In [40]:
df3.head()

   country  year  per100 locations
0  Albania  1987    6.71       ALB
1  Albania  1987    5.19       ALB
2  Albania  1987    4.83       ALB
3  Albania  1987    4.59       ALB
4  Albania  1987    3.28       ALB

In [41]:
df4 = df3.groupby(['country','locations','year']).agg(sum).reset_index()
df4.head()

   country locations  year  per100
0  Albania       ALB  1987   31.85
1  Albania       ALB  1988   32.46
2  Albania       ALB  1989   33.40
3  Albania       ALB  1992   18.00
4  Albania       ALB  1993   32.56

In [42]:
df4.shape

(2242, 4)

In [47]:
df4['country'].unique()

array(['Albania', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Bosnia and Herzegovina', 'Brazil',
       'Bulgaria', 'Cabo Verde', 'Canada', 'Chile', 'Colombia',
       'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Denmark', 'Dominica', 'Ecuador', 'El Salvador', 'Estonia', 'Fiji',
       'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Grenada',
       'Guatemala', 'Guyana', 'Hungary', 'Iceland', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Kazakhstan', 'Kiribati', 'Kuwait',
       'Kyrgyzstan', 'Latvia', 'Lithuania', 'Luxembourg', 'Macau',
       'Maldives', 'Malta', 'Mauritius', 'Mexico', 'Mongolia',
       'Montenegro', 'Netherlands', 'New Zealand', 'Nicaragua', 'Norway',
       'Oman', 'Panama', 'Paraguay', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Romania', 'Russia',
       'Saint Kitts and Nevis', 'Saint Lucia', 'San Marino', 'Serbia',
       'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa',
       'Spain', 'Sri Lanka', 'Suriname', 'Sweden', 'Switzerland',
       'Thailand', 'Trinidad and Tobago', 'Turkey', 'Turkmenistan',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan'], dtype=object)

In [48]:
df2['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas, The', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burma', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros',
       'Congo, Democratic Republic of the', 'Congo, Republic of the',
       'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba',
       'Curacao', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Falkland Islands (Islas Malvinas)', 'Faroe Islands',
       'Fiji', 'Finland', 'France', 'French Polynesia', 'Gabon',
       'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guernsey',
       'Guinea-Bissau', 'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, North', 'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macau', 'Macedonia',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia, Federated States of', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Nigeria', 'Niger', 'Niue', 'Northern Mariana Islands', 'Norway',
       'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Virgin Islands', 'West Bank', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)