In [21]:
import os
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [22]:
#establish directories and import data
home = Path.cwd()
filepath = Path.joinpath(home.parent, 'data', 'master.csv')
df1 = pd.read_csv(filepath)
df1.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [23]:
df1.shape

(27820, 12)

In [24]:
df1.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [25]:
df1.rename(columns={'suicides/100k pop':'per100'}, inplace=True)
df1.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population', 'per100',
       'country-year', 'HDI for year', ' gdp_for_year ($) ',
       'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [26]:
#getting country codes
filepath2 = Path.joinpath(home.parent, 'data', 'd3-world-map.csv')
df2 = pd.read_csv(filepath2)
df2.drop(columns='z', inplace=True)
df2.rename(columns={'text':'country'}, inplace=True)
df2.head()

  locations         country
0       AFG     Afghanistan
1       ALB         Albania
2       DZA         Algeria
3       ASM  American Samoa
4       AND         Andorra

In [27]:
df = pd.merge(df1, df2, on='country')
df.head()

,country,year,sex,age,suicides_no,population,per100,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,locations
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X,ALB
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent,ALB
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X,ALB
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation,ALB
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers,ALB

In [30]:
df.shape

(26548, 13)

In [31]:
27820-26548

1272

In [32]:
df['country'].value_counts()

Austria                   382
Mauritius                 382
Netherlands               382
Iceland                   382
Greece                    372
United Kingdom            372
Colombia                  372
Japan                     372
Mexico                    372
United States             372
Brazil                    372
Belgium                   372
Malta                     372
Spain                     372
Puerto Rico               372
Singapore                 372
Italy                     372
Chile                     372
Argentina                 372
Luxembourg                372
Ecuador                   372
Israel                    372
Ireland                   360
Guatemala                 360
Costa Rica                360
Norway                    360
France                    360
Australia                 360
Bulgaria                  360
Sweden                    358
                         ...
Belarus                   252
Slovenia                  252
Estonia                   252
Bahrain                   252
Switzerland               252
South Africa              240
Seychelles                216
Serbia                    216
Jamaica                   204
Azerbaijan                192
Philippines               180
Cyprus                    178
Qatar                     178
Aruba                     168
Fiji                      132
Sri Lanka                 132
Kiribati                  132
Maldives                  120
Montenegro                120
Turkey                     84
United Arab Emirates       72
Nicaragua                  72
Oman                       36
San Marino                 36
Saint Kitts and Nevis      36
Bosnia and Herzegovina     24
Cabo Verde                 12
Macau                      12
Dominica                   12
Mongolia                   10
Name: country, Length: 97, dtype: int64

In [33]:
df1['country'].value_counts()

Iceland                   382
Austria                   382
Mauritius                 382
Netherlands               382
Republic of Korea         372
Brazil                    372
Ecuador                   372
Belgium                   372
Spain                     372
United States             372
Mexico                    372
Greece                    372
Israel                    372
Japan                     372
United Kingdom            372
Colombia                  372
Malta                     372
Luxembourg                372
Singapore                 372
Chile                     372
Italy                     372
Puerto Rico               372
Argentina                 372
Australia                 360
Guatemala                 360
Costa Rica                360
Norway                    360
France                    360
Bulgaria                  360
Ireland                   360
                         ...
Switzerland               252
Belarus                   252
Latvia                    252
Estonia                   252
Bahrain                   252
South Africa              240
Serbia                    216
Seychelles                216
Jamaica                   204
Azerbaijan                192
Philippines               180
Qatar                     178
Cyprus                    178
Aruba                     168
Sri Lanka                 132
Fiji                      132
Kiribati                  132
Montenegro                120
Maldives                  120
Turkey                     84
Nicaragua                  72
United Arab Emirates       72
Saint Kitts and Nevis      36
Oman                       36
San Marino                 36
Bosnia and Herzegovina     24
Macau                      12
Cabo Verde                 12
Dominica                   12
Mongolia                   10
Name: country, Length: 101, dtype: int64